# macOS
tinystories_model.bin
train
transformer.txt
aesop_fables.bin_tokens.txt
.gitignore
.gitignore
aesop_fables.bin
tinystories_model.bin_tokens.txt
transformer
ONE WINTER a Farmer .bin_tokens.txt
TinyStories-valid.bin
TinyStories-valid.bin_tokens.txt
